/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: silver;
}
a:hover {
  color: green;
}

/*Header styles*/

h3 {
  text-shadow: 5px 5px 2px green;
}

/*Paragraph styles*/

/* Section Styles */

.main-nav {
  width: 100%;
  background: white;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  z-index: 100;
  text-align: center;
  border-bottom: 1.5px solid silver;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  color: green;
}

.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #00a961;
}

header {
  text-align: center;
  background: url('images/HCMC.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1.5px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.1);
}
.column-image {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 7px 7px 1px rgba(250,25,25,0.5);
}

.tag {
  background-color: white;
  color: #00a961;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.tag:hover {
  background: #00a961;
  color: white;
}
.center {
  margin-top: 120px;
}

.flex p:first-letter {
  font-size: 20px;
  font-weight: bold;
}

.flex p {
  text-indent: 5%;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

.center {
  max-width: 500px;
}

legend {
  font-weight: bold;
  font-size: 1.25em;
}

.number {
  background: #4EBBB5;
  color: white;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 7px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  border-radius: 100%;
}

time {
  font-style: italic;
  font-size: 0.9em;
  display: block;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #00a961;
}

label {
  font-size: 1.15em;
  font-weight: bold;
}

.link_there {
	font-size: 0.8em;
	font-style: italic;
	font-weight: normal;
	color: white;
}

/*Pie chart styles*/
.skills {
  position: relative;
  height: 13em;
  margin-top: 1.5em;
}

/*Lightbox styles*/
.lb-img {
  width: 50%;
}

/* 
  make each pie piece a rectangle twice as high as it is wide.
  move the transform origin to the middle of the left side.
  Also ensure that overflow is set to hidden.
*/
  .pie {
		position:absolute;
		width:100px;
		height:200px;
		overflow:hidden;
		left:150px;
		-moz-transform-origin:left center;
		-ms-transform-origin:left center;
		-o-transform-origin:left center;
		-webkit-transform-origin:left center;
		transform-origin:left center;
	}

/*
  this is the actual visible part of the pie. 
  Give it the same dimensions as the regular piece.
  Use border radius make it a half circle.
  move transform origin to the middle of the right side.
  Push it out to the left of the containing box.
*/
	.pie:BEFORE {
		content:"";
		position:absolute;
		width:100px;
		height:200px;
		left:-100px;
		border-radius:100px 0 0 100px;
		-moz-transform-origin:right center;
		-ms-transform-origin:right center;
		-o-transform-origin:right center;
		-webkit-transform-origin:right center;
		transform-origin:right center;
		
	}
 
/*
  add colour to each piece.
*/
	.pie:nth-of-type(1):BEFORE,
	.pie:nth-of-type(1):AFTER {
		background-color:lightblue;
	}

	.pie:nth-of-type(2):AFTER,
	.pie:nth-of-type(2):BEFORE {
		background-color:lightgreen;	
	}
	.pie:nth-of-type(3):AFTER,
	.pie:nth-of-type(3):BEFORE {
		background-color:red;	
	}
	.pie:nth-of-type(4):AFTER,
	.pie:nth-of-type(4):BEFORE {
		background-color:orange;	
	}
  .pie:nth-of-type(5):AFTER,
  .pie:nth-of-type(5):BEFORE {
    background-color:yellow;  
  }
  .pie:nth-of-type(6):AFTER,
  .pie:nth-of-type(6):BEFORE {
    background-color:black;  
  }
/*
  now rotate each piece based on their cumulative starting
  position
*/
	.pie[data-start="39"] {
		-moz-transform: rotate(39deg); /* Firefox */
		-ms-transform: rotate(39deg); /* IE */
		-webkit-transform: rotate(39deg); /* Safari and Chrome */
		-o-transform: rotate(39deg); /* Opera */
		transform:rotate(39deg);
	}
	.pie[data-start="148"] {
		-moz-transform: rotate(148deg); /* Firefox */
		-ms-transform: rotate(148deg); /* IE */
		-webkit-transform: rotate(148deg); /* Safari and Chrome */
		-o-transform: rotate(148deg); /* Opera */
		transform:rotate(148deg);
	}
	.pie[data-start="258"] {
		-moz-transform: rotate(258deg); /* Firefox */
		-ms-transform: rotate(258deg); /* IE */
		-webkit-transform: rotate(258deg); /* Safari and Chrome */
		-o-transform: rotate(258deg); /* Opera */
		transform:rotate(258deg);
	}
  .pie[data-start="288"] {
    -moz-transform: rotate(288deg); /* Firefox */
    -ms-transform: rotate(288deg); /* IE */
    -webkit-transform: rotate(288deg); /* Safari and Chrome */
    -o-transform: rotate(288deg); /* Opera */
    transform:rotate(288deg);
  }
  .pie[data-start="328"] {
    -moz-transform: rotate(328deg); /* Firefox */
    -ms-transform: rotate(328deg); /* IE */
    -webkit-transform: rotate(328deg); /* Safari and Chrome */
    -o-transform: rotate(328deg); /* Opera */
    transform:rotate(328deg);
  }
/*
  and rotate the amount of the pie that's showing.

  NOTE: add an extra degree to all but the final piece, 
  to fill in unsightly gaps.
*/
  .pie[data-value="39"]:BEFORE {
    -moz-transform: rotate(40deg); /* Firefox */
    -ms-transform: rotate(40deg); /* IE */
    -webkit-transform: rotate(40deg); /* Safari and Chrome */
    -o-transform: rotate(40deg); /* Opera */
    transform:rotate(40deg);
  }

	.pie[data-value="109"]:BEFORE {
		-moz-transform: rotate(110deg); /* Firefox */
		-ms-transform: rotate(110deg); /* IE */
		-webkit-transform: rotate(110deg); /* Safari and Chrome */
		-o-transform: rotate(110deg); /* Opera */
		transform:rotate(110deg);
	}
	.pie[data-value="110"]:BEFORE {
		-moz-transform: rotate(111deg); /* Firefox */
		-ms-transform: rotate(111deg); /* IE */
		-webkit-transform: rotate(111deg); /* Safari and Chrome */
		-o-transform: rotate(111deg); /* Opera */
		transform:rotate(111deg);
	}
	.pie[data-value="30"]:BEFORE {
		-moz-transform: rotate(31deg); /* Firefox */
		-ms-transform: rotate(31deg); /* IE */
		-webkit-transform: rotate(31deg); /* Safari and Chrome */
		-o-transform: rotate(31deg); /* Opera */
		transform:rotate(31deg);
	}
  .pie[data-value="40"]:BEFORE {
    -moz-transform: rotate(41deg); /* Firefox */
    -ms-transform: rotate(41deg); /* IE */
    -webkit-transform: rotate(41deg); /* Safari and Chrome */
    -o-transform: rotate(41deg); /* Opera */
    transform:rotate(41deg);
  }
  .pie[data-value="32"]:BEFORE {
    -moz-transform: rotate(33deg); /* Firefox */
    -ms-transform: rotate(33deg); /* IE */
    -webkit-transform: rotate(33deg); /* Safari and Chrome */
    -o-transform: rotate(33deg); /* Opera */
    transform:rotate(33deg);
  }

.skills-labels li {
  list-style-type: none;
  margin-bottom: 2px;
}

span.labels {
  display: inline-block;
  padding: 7px;
  margin-right: 10px;
  border-radius: 2px;
}

.label-HTML {
  background: lightblue;
}

.label-CSS {
  background: lightgreen;
}

.label-Javascript {
  background: red;
}

.label-MySQL {
  background: orange;
}

.label-PHP {
  background: yellow;
}

.label-Wordpress {
  background: black;
}

.dum-back {
  background: linear-gradient(#ffa949,transparent);
  /*background-size: cover;*/
  box-shadow: 15px 15px 10px rgba(0,0,0,.8);
  border-radius: 5px;
  padding: 5px;
}

ul.projects {
  padding: 0;
  text-align: center;
}

.projects li,
.link_there {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  padding: 5px 10px;
  margin: 2px;
  transition: all .5s;
}

.projects li a {
  color: white;
}

.projects li:hover{
  transform: scale(1.1) rotate(1deg);
}

.projects li:nth-child(odd) {
  background: #0399ff;
}

.projects li:first-child {
  background: violet;
}

.projects li:last-child {
  background: red;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .center {
      max-width: 1100px;
      margin: auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

